h1 {
    font-size: 25px;
    text-align: center;
    color: #61cf5a;
}

body {
    background: black;
}


h3 {
    font-size: 15px;
    text-align: center;
    color: #61cf5a;
    margin-bottom: 75px;
}


.button {
    background: black;
    color: #61cf5a;
    border: 2px white solid;
    margin-bottom: 75px;
    display: block;
}


.button_2 {
    background: black;
    float: right;
    color: #61cf5a;
    border: 2px white solid;
}
